<%= turbo_frame_tag(note) do %>
  <% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: note) do |form| %>
    <div class="modal-body">
      <%= form.text_area(:body, class: %w[form-control]) %>
    </div>
    <div class="modal-footer">
      <%= form.submit(class: %w[btn btn-primary]) %>
    </div>
  <% end%>
<% end %>
