<%= render('shared/alert_flash') %>

<%= form_with({
  local: true,
  method: :post,
  url: contents_path,
  html: {
    class: %w[form-inline mb-3]
  }}) do |f| %>
<div class="input-group">
  <%= f.text_field :query, class: %w[form-control], placeholder: 'Keywords', autocomplete: 'off', value: @query %>
  <div class="input-group-append">
    <%= f.button 'Search', class: %w[btn btn-primary] %>
  </div>
</div>
<% end %>

<%= form_with({
  local: true,
  method: :post,
  url: contents_path,
  html: {
    class: %w[form-inline mb-3]
  }}) do |f| %>
<div class="input-group">
  <%= f.text_field :url, class: %w[form-control], placeholder: 'URL', autocomplete: 'off' %>
  <div class="input-group-append">
    <%= f.button 'Add', class: %w[btn btn-primary] %>
  </div>
</div>
<% end %>

<p><%= page_entries_info @contents %></p>

<% @contents.each do |content| %>
<div class="media">
  <% if content.abstract_data_id.present? %>
    <%= image_tag(blob_url(id: content.abstract_data_id), class: %w[align-self-start mr-2 img-thumbnail], size: '64x64') %>
  <% else %>
    <%= image_tag(blank_blobs_url, class: %w[align-self-start mr-2 img-thumbnail], size: '64x64') %>
  <% end %>
  <div class="media-body">
    <p class="mb-1 lead"><strong><%= content.og_title %></strong></p>
    <p class="mb-0"><%= content.og_description %></p>
    <p class="mb-0 dont-break-out"><%= link_to content.canonical_url, content.canonical_url %></p>
    <p class="text-right">
      <span class="badge badge-pill badge-light">In: <%= content.input_count %></span>
      <span class="badge badge-pill badge-light">Out: <%= content.output_count %></span>
      <%= link_to content.created_at, content %>
    </p>
  </div>
</div>
<% end %>

<%= paginate @contents %>
