<%= render('shared/alert_flash') %>
<%= form_with(
  local: true,
  method: :post,
  url: keywords_path,
  html: {
    class: %w[form-inline mb-3]
  }) do |f| %>
  <div class="input-group">
    <%= f.text_field :query, class: %w[form-control], placeholder: 'Keywords', autocomplete: 'off', value: @query %>
    <div class="input-group-append">
      <%= f.button 'Search', class: %w[btn btn-primary] %>
    </div>
  </div>
<% end %>
<%= form_with(
  local: true,
  method: :post,
  url: keywords_path,
  html: {
    class: %w[form-inline mb-3]
  }) do |f| %>
  <div class="input-group">
    <%= f.text_field :keyword, class: %w[form-control], placeholder: 'Keyword', autocomplete: 'off' %>
    <div class="input-group-append">
      <%= f.button 'Add', class: %w[btn btn-primary] %>
    </div>
  </div>
<% end %>
<%= form_with(
  local: true,
  method: :post,
  url: assign_keywords_path,
  html: {
    class: %w[form-inline mb-3]
  }) do |f| %>
  <div class="input-group">
    <%= f.button 'Assign', class: %w[btn btn-primary] %>
  </div>
<% end %>
<ul>
  <% @keywords.each do |keyword| %>
    <li><%= link_to keyword.name, keyword_path(keyword) %> (<%= keyword.contents.size %>)</li>
  <% end %>
</ul>
