<h3><%= @keyword.name %> (<%= @keyword.contents.size %>)</h3>
<hr>
<%= button_to "Delete", @keyword, method: :delete, class: %w[btn btn-danger] %>
<hr>
<% @keyword.contents.each do |content| %>
  <div class="media">
    <% if content.abstract_data_id.present? %>
      <%= image_tag(blob_url(id: content.abstract_data_id), class: %w[align-self-start mr-2 img-thumbnail], size: '64x64') %>
    <% else %>
      <%= image_tag(blank_blobs_url, class: %w[align-self-start mr-2 img-thumbnail], size: '64x64') %>
    <% end %>
    <div class="media-body">
      <p class="mb-1 lead"><strong><%= content.og_title %></strong></p>
      <p class="mb-0"><%= content.og_description %></p>
      <p class="mb-0 text-break"><%= link_to content.canonical_url, content.canonical_url %></p>
      <p class="text-right">
        <span class="badge badge-pill badge-light">In: <%= content.input_count %></span>
        <span class="badge badge-pill badge-light">Out: <%= content.output_count %></span>
        <%= link_to content.created_at, content %>
      </p>
    </div>
  </div>
<% end %>
